<section>
  <header>
    Orginizer: <strong>{{dateService.date | async | moment:"DD.MM.YYYY" }}</strong>
    <hr />
  </header>
  <main>
    <ul *ngIf="tasks.length; else noTask">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong>{{i + 1}}</strong>
          {{task.title}}
        </span>
        <button class="btn btn-primary" (click)="removeTask(task)">Remove</button>
      </li>
    </ul>
    <ng-template #noTask>
      <p class="text-center">No task</p>
    </ng-template>
  </main>
  <footer>
    <form 
      (ngSubmit)="submit()"
      [formGroup]="form"
    >
      <input 
        type="text"
        formControlName="title"
      >
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
      >ADD</button>
    </form>
  </footer>
</section>