/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --primary-color: #dc3545;
  --darck-color: #333333;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    color: #666666;
  }
}

ul {
  list-style: none;
}

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #cccccc;
  outline: none;
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2 rem;
}

table th {
  background-color: var(--light-color);
}

.btn {
  display: inline-block;
  background-color: var(--light-color);
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s;
  outline: 0;
  &:disabled {
    opacity: 0.5;
    color: #ffffff;
    cursor: not-allowed;
  }
  &:hover:not(:disabled) {
    opacity: 0.8;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}

.text-center {
  text-align: center;
}
