table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid #000000;
    padding: 0.5rem 1rem;
  }

  td {
    text-align: center;
    transition: all 0.2s;
    position: relative;
    &.disabled {
      opacity: 0.5;
    }
    &:hover:not(.disabled) {
      background-color: #eeeeee;
      cursor: pointer;
    }
    .counter {
      display: block;
      position: absolute;
      background-color: #2197f5;
      width: 20px;
      height: 20px;
      top: 5px;
      right: 10px;
      color: #fff;
      font-size: 14px;
      border-radius: 50%;
    }
  }

  .active {
    color: var(--primary-color);
    font-weight: bold;
  }

  .selected {
    color: #0051ff;
  }
}
